
.projects-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  padding: 50px;
}

.project-card {
  background: #0f0f0f8f;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.4s;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 0.6s forwards;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 0 25px rgb(0, 242, 255);
}

.project-card h2 {
  color: rgb(0 229 255);
  font-size: 3.0rem;
  margin-bottom: 10px;
}

.project-card p {
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.tech-stack {
    display: flex;
    flex-wrap: wrap;       /* IMPORTANT */
    gap: 8px;              /* spacing between tags */
    margin-top: 10px;
}
.tech-stack span {
  background: rgba(0, 255, 255, 0.1);
  border: 1px solid rgb(0 229 255);
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 8px;
  color: rgb(0 229 255);
  font-size: 1.1rem;
}

.view-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 16px;
  background: rgb(0 229 255);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.view-btn:hover {
  background: rgb(0, 242, 255);
  transform: scale(1.05);
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
